@import "basics";
.container {
  padding: 4rem;
  @include font;
  background: #ffffff;
  /* jez salad card */
  margin: 3rem 0;

  box-shadow: 0px 50px 80px -30px rgba(151, 109, 0, 0.2);
  border-radius: 50px;
}
.heading {
  font-size: 40px;
  font-weight: 600;
  color: $colorOrange;
  padding-bottom: 6rem;
}
.paragraphs {
  color: $textGray;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}
