@import "basics";
.navbar__Container {
  display: flex;
  align-items: center;
}
.linkContent {
  display: flex;
  gap: 4.5rem;
  margin: 0 auto;
}
.link,
.link_active {
  @include font;
  font-weight: 500;
  font-size: 1rem;
  color: $dark;
  cursor: pointer;
  &:hover {
    color: $colorOrange;
  }
}
.link_active {
  color: $colorOrange;
}
